{% extends "template.twig" %}

{% block content %}
<div class='block--tertiary'>
    <div class='grid-container pt-xl pb-xl' > 
        <div class='grid grid--middle'>
           <div class='grid__item col-3-4 col--q-small'>
                <div class='block-m block--stacked'>
                    <h2 class='font-primary--light h1'>
                        Fred's closet
                    </h2>
                    <p class='intro'> 

                        Fred has so many skeletons in his closet that he can’t keep track of them all! Just like Fred, websites also have a lot of skeletons but have no closet to store them in.

                        Fred’s Closet is the perfect hideaway to keep all those little secrets.
                    </p> 
                </div>       
            </div>
            <div class='grid__item col-1-4 col--q-small'>
                <img src='assets/images/freds-closet.png' alt='fred' class='img--responsive center-element' />
            </div>
        </div>
    </div>
    <div class='block--white'>
        <div class='grid-container pt-xl pb-xl'>
            <div class='grid grid--middle'>
                <div class='grid__item col-1-4'>
                    image here
                </div>
                <div class='grid__item col-3-4 '>
                    <div class='block--stacked block-m'>
                        <h3 class='intro'>Why use Fred's closet?</h3>
                            <ul class='list-styled intro' >
                                <li>
                                    Makes it easy for a new designer to join the team and start contributing work that is consistent with the current design and it makes sure there are no gaps in your styling, no matter what content is being displayed.
                                </li>
                                <li>
                                    Makes it easy for a new FED to join the team as they can see what patterns already exist and can extend and maintain code. {#make sense of this#}

                                </li>
                                <li>
                                    Good for debugging - Because all of the elements that appear on the site are in one place so you don’t have to go searching round for them.
                                </li>
                                <li>
                                    It also makes device testing easier because everything is on one page. It’s also quick to see if CSS changes to one pattern affect other patterns.

                                </li>
                            </ul>
                        </div>
                        
                  
    {#<p>
                        These style guides and pattern libraries aren’t being published in an attempt to provide ready-made solutions—every project should have its own distinct pattern library. Instead, these pattern libraries are being published in a spirit of openness and sharing …a way of saying “Hey, this is what worked for us in these particular circumstances.”
                    </p>
                    <p>
                        Every project is a learning experience and each front-end style guide gives us ideas about how to do the next one better.
                    </p>#}
                    
                  
                </div>

                <div class='grid__item col'>
                    <hr class='mt-xl mb-xl'/>
                </div>
               
                <div class='grid__item col-3-4 col--q-small'>

                    <div class='block--stacked block-m '>
                        <h3 class='font-primary--light'>
                            How it works ?
                        </h3>
                        <p class='intro'>
                            So that Fred's closest doesn't get messy. Fred has kindly seperated his closest into a few different sections. These are as follows:
                        </p>
                        <p class='font-primary--bold'>
                            Colours:
                        </p>
                        <p class=' '>
                            A place to document the main colors used on your project's site.
                        </p>
                        <p class='font-primary--bold'>
                            Typography:
                        </p>
                        <p class=' '>
                            A place to document the font-stacks used on your project's site as well as test the heirarchy
                        </p>
                        <p class='font-primary--bold'>
                            Flego blocks
                        </p>
                        <p class=' '>
                             A place for common HTML elements.
                        </p>
                    </div>
                </div>
                 <div class='grid__item col-1-4 col--q-small'>
                    <img src='assets/images/' alt='image here' class='img--responsive ' />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- i know the anchor shouldn't wrap everything but it will do for now :0 -->
<div style='' class='block--secondary'>
    <div class='grid-container pt-xxl pb-xxl' style='max-width:960px; margin-left:auto; margin-right:auto'>
        
        <div class='grid'>
            <div class='grid__item col'>
                <h2 class='text-center font-primary--light mb-m pt-m'>
                    Colors
                </h2>
                
            </div>
        </div>
        <div class='grid'>
            <div class='grid__item col-1-4 col-2-4--q-small'>
                <div class='ml-xxs mr-xxs radius'>
                    <div class='block--primary top--radius-s'>
                        <h4 class='font-primary--light pt-m pb-m text-center h2'>
                            A<a href=''>a</a>
                        </h4>

                    </div>
                    <div class='block--white bottom--radius-s mb-s'>
                        <p class='small uppercase text-center pt-m pb-m'>
                            block--primary
                        </p>
                    </div>
                </div>
            </div>
            <div class='grid__item col-1-4 col-2-4--q-small'>
                <div class='ml-xxs mr-xxs '>
                    <div class='block--secondary top--radius-s'>
                        <h4 class='font-primary--italic pt-m pb-m text-center h2'>
                            A<a href=''>a</a>
                        </h4>
                    </div>
                    <div class='block--white bottom--radius-s mb-s'>
                        <p class='small uppercase text-center pt-m pb-m'>
                            block--secondary
                        </p>
                    </div>
                </div>
            </div>
            <div class='grid__item col-1-4 col-2-4--q-small'>
                <div class='ml-xxs mr-xxs '>
                    <div class='block--tertiary top--radius-s'>
                        <h4 class='pt-m pb-m text-center h2'>
                            A<a href=''>a</a>
                        </h4>
                    </div>
                    <div class='block--white bottom--radius-s mb-s'>
                        <p class='small uppercase text-center pt-m pb-m'>
                            block--tertiary
                        </p>
                    </div>
                </div>
            </div>
            <div class='grid__item col-1-4 col-2-4--q-small '>
                <div class='ml-xxs mr-xxs radius'>
                    <div class='block--featured top--radius-s'>
                        <h4 class='font-primary--bold pt-m pb-m text-center h2'>
                            A<a href=''>a</a>
                        </h4>
                    </div>
                    <div class='block--white bottom--radius-s mb-s' >
                        <p class='small uppercase text-center pt-m pb-m'>
                            block--featured
                        </p>
                    </div>
                </div>
            </div><!--grid item ends-->
        </div><!--grid  ends-->
      
    </div>
</div>
<div class='block--tertiary'>
    <div class='grid-container pt-xxl pb-xxl' >
        
        <div class='grid'>
            <div class='grid__item col'>
                <h2 class='text-center font-primary--light pb-m pt-s'>
                    Typography
                </h2>
     
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='block-m block--stacked'>
                     <p class='small uppercase'>Font primary:</p>
                    <h3>
                        SourceSansPro
                    </h3>
                    <p>
                        Awww Wicked! Howsit goin, this carked it misses is as kiwi as as a cool scarfie. Mean while, in South Pacific, the Armed Offenders Squad and Rhys Darby were up to no good with a bunch of paru chocolate fishs.
                    </p>
                </div>
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='grid'>
                    <div class='grid__item col-1-4 '>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='block--white top--radius-s'>
                                <h4 class='font-primary--light pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s'>
                                <p class='small uppercase text-center pt-m pb-m'>Light</p>
                            </div>
                        </div>
                    </div>
                    <div class='grid__item col-1-4'>
                        <div class='ml-xxs mr-xxs '>
                            <div class='block--white top--radius-s'>
                                <h4 class='font-primary--italic pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s'>
                                <p class='small uppercase text-center pt-m pb-m'>Italic</p>
                            </div>
                        </div>
                    </div>
                    <div class='grid__item col-1-4'>
                        <div class='ml-xxs mr-xxs '>
                            <div class='block--white top--radius-s'>
                                <h4 class='pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s'>
                                <p class='small uppercase text-center pt-m pb-m'>Regular</p>
                            </div>
                        </div>
                    </div>
                    <div class='grid__item col-1-4'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='block--white top--radius-s'>
                                <h4 class='font-primary--bold pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s' >
                                <p class='small uppercase text-center pt-m pb-m'>Bold</p>
                            </div>
                        </div>
                    </div><!--grid item ends-->
                </div><!--grid  ends-->
            </div><!--grid item ends-->

            <div class='grid__item col'>
                <hr class='mt-m mb-m'/>
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='block-m block--stacked'>
                    <p class='small uppercase'>Font secondary:</p>
                    <h3>
                       SourceSansPro
                    </h3>
                    <p>
                        The stoked force of his skiving off was on par with Manus Morissette's flat stick quater-acre patch. Put the jug on will you bro, all these buzzy vivids can wait till later. 
                    </p>
                </div>
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='grid'>
                    <div class='grid__item col-1-4'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='block--white top--radius-s'>
                                <h4 class='font-primary--light pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s'>
                                <p class='small uppercase text-center pt-m pb-m'>Light</p>
                            </div>
                        </div>
                    </div>
                    <div class='grid__item col-1-4'>
                        <div class='ml-xxs mr-xxs '>
                            <div class='block--white top--radius-s'>
                                <h4 class='font-primary--italic pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s'>
                                <p class='small uppercase text-center pt-m pb-m'>Italic</p>
                            </div>
                        </div>
                    </div>
                    <div class='grid__item col-1-4'>
                        <div class='ml-xxs mr-xxs '>
                            <div class='block--white top--radius-s'>
                                <h4 class='pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s'>
                                <p class='small uppercase text-center pt-m pb-m'>Regular</p>
                            </div>
                        </div>
                    </div>
                    <div class='grid__item col-1-4'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='block--white top--radius-s'>
                                <h4 class='font-primary--bold pt-m pb-m text-center h2'>Aa</h4>
                            </div>
                            <div class='block--secondary bottom--radius-s' >
                                <p class='small uppercase text-center pt-m pb-m'>Bold</p>
                            </div>
                        </div>
                    </div><!--grid item ends-->
                </div><!--grid  ends-->
            </div><!--grid item ends-->
            <div class='grid__item col'>
                <hr class='mt-m mb-m'/>
                <p class='uppercase small mb-s ml-m mr-m'>Text heirarchy</p>
                <div class='block--white block--stacked block-m radius'>
                    {% include "typography.twig" %}
                </div>
            </div>
        </div><!--grid  ends-->
        
    </div>
</div>
<div style='' class='block--secondary'>
    <div class='grid-container pt-xxl pb-xxl' >
        
        <div class='grid'>
            <div class='grid__item col'>
                <h2 class='text-center font-primary--light'>
                    Components
                </h2>
            </div>
        </div>
      
    </div>
</div>
{% endblock %}