{% extends "template.twig" %}

{% block content %}
    <div class='block--secondary'>
        <div class='grid-container pt-xl pb-xl' > 
            <div class='grid'>
               <div class='grid__item col'>
                    <div class='block-m block--stacked'>
                        <h2 class='text-center font-primary--light'>
                            Why make life harder when Fred can help out :)
                        </h2>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <div class='block--white'>
        <div class='grid-container pt-xl pb-xl' >
            {{ macros.lego('content.media', {
                'content': data.fredcontent, 
                'image': data.fredimage, 
                'isStacked':'',
                'blockSize': 'm',
                'mediaLeft':'col-1-3 col--q-small',
                'mediaRight':'col-2-3 col--q-small'
            }) }}
        </div>
    </div><!-- block white ends-->

    <div class='block--featured'>
        <div class='grid-container pt-xl pb-xl'>
            {{ macros.lego('content.media.reversed', {
                'content': data.flegocontent, 
                'image': data.flegoimage, 
                'isStacked':'',
                'blockSize': 'm',
                'mediaLeft':'col-1-3 col--q-small',
                'mediaRight':'col-2-3 col--q-small'
            }) }}
        </div>
    </div><!--block featured ends-->

    <div class='block--white'>
        <div class='grid-container pt-xl pb-xl' > 
            {{ macros.lego('content.media', {
                'content': data.fredsclosetcontent, 
                'image': data.fredsclosetimage, 
                'isStacked':'',
                'blockSize': 'm',
                'mediaLeft':'col-1-3 col--q-small',
                'mediaRight':'col-2-3 col--q-small'
            }) }}
        </div>
    </div><!--block white ends-->

{% endblock %}