{% extends "template.twig" %}

{% block content %}

<!-- i know the anchor shouldn't wrap everything but it will do for now :0 -->
<div class='grid-container pt-xxxl' style='max-width:960px; margin-left:auto; margin-right:auto'>
    <a href='/blocks.php' class='clean-link'>
        <div class='grid grid--middle'>
            <div class='grid__item ' style='width:30%'>
                <div class='ml-l'>
                    <img src='assets/images/fred-logo.png' alt='fred' class='img--responsive'/>
                </div>
            </div>
            <div class='grid__item' style='width:20%'>
                <p class='h0 text-center'>+</p> 
            </div>
            <div class='grid__item' style='width:30%'>
                <img src='assets/images/lego.png' alt='fred' class='img--responsive' />
            </div>
            <div class='grid__item' style='width:20%'>
                <p class='h0 text-center'>=</p>
            </div>
            <div class='grid__item col'>
                <h1 class='text-center pt-s h0'>Flego</h1>
            </div>
        </div>
    </a>
</div>


{% endblock %}