{% macro lego(type, data) %}
    {% include "lego/" ~ type ~ ".twig" ignore missing with { 'data': data } %} 
{% endmacro %}


{% macro flego(type, data) %}
    {% include "flego/" ~ type ~ ".twig" ignore missing with { 'data': data } %} 
{% endmacro %}


{% macro blocks(data) %} 

    {% if data is iterable %}

        {% for item in data %}
       
            {% if item.type %}
                {% include "elements/" ~ item.type ~ ".twig" ignore missing with { 'item': item } %} 
            {% else %}   
                <p>{{item}}</p>
            {% endif %}
        {% endfor %}
    {% else %}   
        <p>{{data}}</p>
    {% endif %}
{% endmacro %}

