{% extends "template.twig" %}

{% block content %}
    <h3 class='lego--heading'>
        Theme style guide helper
    </h3>
    <div class='grid '>
    
        <div class='grid__item col-1-4 col-2-4--q-medium col--q-small'>
            <div class='block-m block--stacked' >         
                <div class='block--primary col block-m block--stacked border-box' >
                    <h3>
                        block--primary
                    </h3>
                    <p>
                        I'm some content
                    </p>
                    <p>
                        <a href='#'>
                            I'm a link
                        </a>
                    </p>
                </div>
            </div><!--block ends-->
        </div><!--grid item ends-->

        <div class='grid__item col-1-4 col-2-4--q-medium col--q-small'>
            <div class='block-m block--stacked' >         
                <div class='block--secondary col block-m block--stacked border-box' >
                    <h3 class=''>
                        block--secondary
                    </h3>
                    <p>
                        I'm some content
                    </p>
                    <p>
                        <a href='#'>
                            I'm a link
                        </a>
                    </p>
                </div>
            </div><!--block ends-->
        </div><!--grid item ends-->

        <div class='grid__item col-1-4 col-2-4--q-medium col--q-small'>
            <div class='block-m block--stacked' >         
                <div class='block--tertiary col block-m block--stacked border-box' >
                    <h3>
                        block--tertiary
                    </h3>
                    <p>
                        I'm some content
                    </p>
                    <p>
                        <a href='#'>
                            I'm a link
                        </a>
                    </p>
                </div>
            </div><!--block ends-->
        </div><!--grid item ends-->

        <div class='grid__item col-1-4 col-2-4--q-medium col--q-small'>
            <div class='block-m block--stacked' >         
                <div class='block--featured col block-m block--stacked border-box' >
                    <h3>
                        block--featured
                    </h3>
                    <p>
                        I'm some content
                    </p>
                    <p>
                        <a href='#'>
                            I'm a link
                        </a>
                    </p>
                </div>
            </div><!--block ends-->
        </div><!--grid item ends-->
       
    </div><!-- ends -->
{% endblock %}