{% extends "template.twig" %}

{% block navigation %}
{% endblock %}

{% block content %}
    {{ macros.lego('content.intro', {
        'themeClass': 'theme--secondary', 
        'gridContainer': 'grid-container-xl', 
        'content': data.typography, 
        'blockSize': 'm',
    }) }}
    
    <!--<ul class='list-unstyled'>
        <li>
            This is the start of an unstyled list
        </li>
        <li>
            Morningside for life, bro.
        </li>
        <li>
            The random force of his cruising for a brusing was on par with The Topp Twins's sweet giant weka
        </li>
        <li>
            Speights, pride of the south for over 100 years. 
        </li>
    </ul>
    <ul class='list-styled'>
        <li>
            This is the start of a styled list
        </li>
        <li>
            Morningside for life, bro.
        </li>
        <li>
            The random force of his cruising for a brusing was on par with The Topp Twins's sweet giant weka
        </li>
        <li>
            Speights, pride of the south for over 100 years. 
        </li>
    </ul>
    <hr />
    <div class='blockquote mt-m'>
        <p>
            After the chilly bin is rooted, you add all the good as mince pies to the pohutukawa you've got yourself a meal. 
        </p>
    </div>
    <p>
        You have no idea how stuffed our primo vivids were aye. Every time I see those random Grandpa's slippers it's like the sausage sizzle all over again aye, take a squiz. Anyway, Manus Morissette is just Jim Hickey in disguise, to find the true meaning of life, one must start pashing with the cookie time, mate. 
    </p>-->

{% endblock %}
{% block sitefooter %}
{% endblock %}
