<div class='grid'>
    
    {% for key, value in data.content %}
    <div class='grid__item col{{data.colSize}}'>
        <p>
            <a href='' class='block-element block-{{data.blockSize}} block--stacked {{data.themeAttr}}'>
                {{value.town}}
            </a>
        </p>
    </div>
    {% endfor %}
    
</div>

   