{% import "macros.twig" as macros %}

{% if data.themeClass %}
    <div class='theme--{{data.themeClass}}'>
{% endif %}
 
        <div class='grid-container-xl'>
            <div class='grid'>
  
            {% if data.colSize %}
                <div class='grid__item {{data.colSize}}'>
            {% endif %} 
               
                <div class='block-m block--stacked {% if data.textCenter %} text-center {% endif %}'>
                    {{ macros.blocks(data.content) }}
                </div>
            {% if data.colSize %}
                </div>
            {% endif %}
    
        </div><!--grid ends -->
    </div><!-- grid container ends-->

{% if data.themeClass %}
    </div>
{% endif %}