{% import "macros.twig" as macros %}

<p class='grey-gradient split small append append--q-small append--q-medium' data-append="computer" data-append-medium="tablet" data-append-small="iphone" >
    &nbsp;&nbsp;&#63743; {{data.splitLeft}} 
    <span class='split__right uppercase '>
        {{data.splitRight}} &nbsp;&nbsp;
    </span>
</p>