{% import "macros.twig" as macros %}

<p class='block-s block--stacked grey-gradient split small append append--q-small append--q-medium' data-append="computer" data-append-medium="tablet" data-append-small="iphone" >
    &#63743; {{data.splitLeft}} 
    <span class='split__right uppercase '>
        {{data.splitRight}} 
    </span>
</p>