<div class='grid'>
    
    <div class='grid__item col'>
      <div class='block-{{data.blockSize}} block--stacked left'>
        <h1>
          <span class="visually-hidden">
            {{data.companyName}}
          </span>
          <img class='' src='' alt='logo here '/>
        </h1>
      </div>
      <ul class='nav right clean-link-list'>
        {% for key, page in data.navigation %}
          <li>
               <a href='' class='block-m block--stacked inline-block {{data.isStacked}}'>
                   {{page.title}}
               </a> 
            </li>  
        {% endfor %}
      </ul>
    </div><!-- grid item ends-->

</div><!-- ends -->