{% import "macros.twig" as macros %}

    {% for item in data.content %}
        <div class='grid__item col-1-10'>
            <div class='ml-xxs mr-xxs radius'>
                <div class='theme--tertiary top--radius-s' >
                    <p class='small uppercase text-center pt-s pb-s'>
                        -{{item.unit}}
                    </p>
                </div>
                <div class='theme--primary '>
                    <div class='text-center small pt-s pb-s'>
                        {{item.px}}px
                    </div>
                </div>
                <div class='theme--quaternary bottom--radius-s'>
                    <div class='pt-{{item.unit}} text-center'></div>
                </div> 
            </div>
        </div><!--grid item ends-->
    {% endfor %}

    {# extra grid columns incase there are odd numbers #}
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>
    <div class='grid__item col-1-10'></div>