{% import "macros.twig" as macros %}

    {% for item in data.content %}
        <div class='grid__item col'>
            <div class='ml-xxs mr-xxs radius mb-m'>
                <div class='theme--quaternary top--radius-s' >
                    <p class='small uppercase text-center pt-s pb-s'>
                        block-{{item}}
                    </p>
                </div>
                <div class='theme--secondary bottom--radius-s'>
                    <div class='block-{{item}} block--stacked'>
                        <p>
                            What's the hurry Mr Whippy? There's plenty of All Blacks in Shortland Street. The dairy holds the most beaut community in the country.. Mrs Falani was cruising for a brusing when the pretty suss pashing event occured.  
                        </p>
                    </div>
                </div> 
            </div>
        </div><!--grid item ends-->
    {% endfor %}