<h2 {% if item.class %}class='{{item.class}}'{% endif %}>
    {% if item.href %}
    	<a href='{{item.href}}'>
    {% endif %}
    	{{item.data}}
    {% if item.href %}
    	</a>
    {% endif %}
</h2>