//maybe add to fred
.sidebar .nav > li { 
    display:block;
}
.z-index--push {
    z-index: -1;
}

.z-index--pull {
    z-index: 1;
}

%on-hover{
    cursor: pointer;
}

.on-hover {
  @extend %on-hover;
}

.img--responsive {
    //hmm there seems to be a space added for no reason this fixes it, I coudl also change it to middle not sure what one to use. 
    vertical-align: top;
}

%center-element {
    margin-left:auto; 
    margin-right:auto;
}



/* add a hide block for desktop down */

.tl--radius-s {
  @include vendor(border-top-left-radius, 4px);
}
// top right
.tr--radius-s {
  @include vendor(border-top-right-radius, 4px);
}
// bottom right
.br--radius-s {
  @include vendor(border-bottom-right-radius, 4px);
}
// bottom left
.bl--radius-s {
  @include vendor(border-bottom-left-radius, 4px);
}
// left side
.ls--radius-s {
  @extend .tl--radius-s;
  @extend .bl--radius-s;
}
// right side
.rs--radius-s {
  @extend .tr--radius-s;
  @extend .br--radius-s;
}
// top 
.top--radius-s {
  @extend .tr--radius-s;
  @extend .tl--radius-s;
}
// bottom 
.bottom--radius-s {
  @extend .br--radius-s;
  @extend .bl--radius-s;
}
// left side no radius 
.ls-radius--0 {
  @include vendor(border-top-left-radius, 0px!important);
  @include vendor(border-bottom-left-radius, 0px!important);
}
// right side no radius 
.rs-radius--0 {
  @include vendor(border-top-right-radius, 0px!important);
  @include vendor(border-bottom-right-radius, 0px!important);
}