//maybe add to fred
.sidebar .nav > li { 
    display:block;
}
.z-index--push {
    z-index: -1;
}

.z-index--pull {
    z-index: 1;
}

%on-hover{
    cursor: pointer;
}

.img--responsive {
    //hmm there seems to be a space added for no reason this fixes it, I coudl also change it to middle not sure what one to use. 
    vertical-align: top;
}



/* add a hide block for desktop down */