
.lego {

}

    .lego--heading {
        @extend .mt-0; 
        @extend .pl-l; 
        @extend .pt-m;
        @extend .pb-m;
        @extend .small;
        @extend .text-muted;
        @extend .uppercase;
        @extend .font-primary--light;
        background-color:black;
    }

.svg, svg {
    left: 35%;
    position: relative;

}
.i-gecko {
    background-image:url('/assets/images/square-gecko.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width:50px; 
    height:50px;
}
//change to use vendor mixin
.border-box {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input {
    @extend .border-box;
}

.text-input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    @extend .font-primary--light;
}

label {
    @extend .mb-xxs;
    display:block;
}