/* Shame */
.lego {

}

    .lego--heading {
        @extend .mt-0; 
        @extend .pl-l; 
        @extend .pr-l;
        @extend .pt-m;
        @extend .pb-m;
        @extend .small;
        @extend .text-muted;
        @extend .uppercase;
        @extend .font-primary--light;
        @extend .theme--secondary;
        //@extend .text-center;
    }
    

//change to use vendor mixin
.border-box {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input {
    @extend .border-box;
}

.absolute--v-middle {
    top:50%; 
}

.text-input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    @extend .font-primary--light;
}

label {
    @extend .mb-xxs;
    display:block;
}

.bb-primary {
    border-bottom:1px solid #ccc;
}


.intro p:first-child {
    margin-top:$bs-s;
}
/*barchart */
.barchart {
    background-color:#efefef;
    height:1em;
}   
    .meter {
        background-color:$primary-color;
    }

.white-bg {
    background-color:#fff;
}

code {
    @extend .font-size-xs;
}

/******************************/

.tile-progress {
  
}
    .tile-progress .tile-progressbar {
        height: 2px;
        background: rgba(0,0,0,0.18);
    }

    .tile-progress .tile-progressbar span {
        background: #fff;
    }

    .tile-progress .tile-progressbar span {
        display: block;
        background: #fff;
        width: 0;
        height: 100%;
        -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
        -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
        -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
        transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    }
    .tile-progress .tile-footer {  
        background: rgba(0,0,0,0.1);
    }

.device-container {
  
    @include media(medium) {
        border:50px solid #000; 
        border-top:80px solid #000;
        border-radius:30px;
    }
    @include media(small) {
        
        border:30px solid #000;
        border-top:80px solid #000;
        border-radius:20px;
     
    }
    border:70px solid #000; 
    border-radius:40px;

    background-color:#fff;
}


@include media(medium) {
    .append--q-medium {
        &:after{
            content: attr(data-append-medium);
            display: inline-block;
        }
    }
}
@include media(small) {
    .append--q-small {
        &:after{
            content: attr(data-append-small);
            display: inline-block;
        }
    }
}
//todo
.grey-gradient {  

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #EDEDED 0%, #BABABA 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #EDEDED 0%, #BABABA 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #EDEDED 0%, #BABABA 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDEDED), color-stop(1, #BABABA));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #EDEDED 0%, #BABABA 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #EDEDED 0%, #BABABA 100%);
}