.bl--grey {
    border-left:1px solid #E6EBEB;
}
hr {
    background-color:#E6EBEB;
    height:1px;
}

%on-hover{
    cursor: pointer;
}

$primary-color:#37B67F;

.gallery--item:hover {
    @extend %on-hover;
    background-color:$primary-color;
    color:#fff;
}



.featured {
    background-color:$primary-color; 
    color:#fff;
    a {
        color:#fff;
    }
    h1, 
    h2, 
    h3, 
    h4, 
    h5 {
        color:#fff;
    }
}

%primary-color {
    color:$primary-color;
}

%primary-link {
    color:$primary-color;
    &:hover {
        color:darken($primary-color, 10%);
    }
}

h1, 
h2, 
h3, 
h4, 
h5 {
    @extend %primary-color
}

a {
    @extend %primary-link;
}
hr {
    margin:0;
}

.block--color {
    background-color:$primary-color;
    color:#fff;
    border-color:$primary-color;
}

.primary--border {
    border:1px solid $primary-color;
}

/*normally you would add a btn theme but becasue this is just a basic site i will just styel the btn class*/
.btn {
    background-color:$primary-color;
    color:#fff;
    border-color:$primary-color;
    
    &:hover {
        background-color:darken($primary-color, 10%);
        color:#fff;
        border-color:darken($primary-color, 10%);
    }

    
}
/*barchart */
.barchart {
    background-color:#efefef;
    height:1em;
}   
    .meter {
        background-color:$primary-color;
    }


.i-menu {
    background-image:url('/assets/images/menu.png');
    height:35px; 
    width:50px;
    background-repeat: no-repeat;
}




