$primary-color:#37B67F;

%primary-color {
    color:$primary-color;
}

%primary-link {
    color:$primary-color;
    &:hover {
        color:darken($primary-color, 10%);
    }
}

.bl--grey {
    border-left:1px solid #E6EBEB;
}

hr {
    background-color:#E6EBEB;
    height:1px;
}

.gallery--item:hover {
    @extend %on-hover;
    background-color:$primary-color;
    color:#fff;
}


hr {
    margin:0;
}

.primary--border {
    border:1px solid $primary-color;
}




// Theme blocks
// ----------------------------------------------------------------------------

//there are two tv themes they print out the same colours but need 
//to have different names potentially should have extended one ... :(



$primary-bg-color:                  #fff;
$primary-border-color:              #fff;
$primary-text-color:                #000;
$primary-link-color:                #000;
$primary-button-color:              #37B67F;
$primary-button-text-color:         #000;

$secondary-bg-color:               #EDEDED;
$secondary-border-color:           #EDEDED;
$secondary-text-color:             #000;
$secondary-link-color:             #000;
$secondary-button-color:           #293F54;
$secondary-button-text-color:      #000;

$tertiary-bg-color:              #293F54;
$tertiary-border-color:          #293F54;
$tertiary-text-color:            #fff;
$tertiary-link-color:            #fff;
$tertiary-button-color:          #fff;
$tertiary-button-text-color:     #293F54;

$quaternary-bg-color:              #37B67F;
$quaternary-border-color:          #37B67F;
$quaternary-text-color:            #fff;
$quaternary-link-color:            #fff;
$quaternary-button-color:          #293F54;
$quaternary-button-text-color:     #37B67F;

$success-bg-color:              #4ab471;
$success-border-color:          #4ab471;
$success-text-color:            #fff;
$success-link-color:            #fff;
$success-button-color:          #fff;
$success-button-text-color:     #4ab471;

$warning-bg-color:              #fff;
$warning-border-color:          #f3ae4e;
$warning-text-color:            #000;
$warning-link-color:            #fff;
$warning-button-color:          #f3ae4e;
$warning-button-text-color:     #fff;

$error-bg-color:              #D96383;
$error-border-color:          #D96383;
$error-text-color:            #fff;
$error-link-color:            #fff;
$error-button-color:          #FFF;
$error-button-text-color:     #D96383;


//array of theme variables - the children of the array always need to be in the same order!
$theme-names: 
  primary,
  secondary,
  tertiary,
  quaternary,
  success,
  warning,
  error;

$bg-color:
  $primary-bg-color,
  $secondary-bg-color,
  $tertiary-bg-color,
  $quaternary-bg-color,
  $success-bg-color,
  $warning-bg-color,
  $error-bg-color;

$border-color: 
  $primary-border-color,
  $secondary-border-color,
  $tertiary-border-color,
  $quaternary-border-color,
  $success-border-color,
  $warning-border-color,
  $error-border-color;

$text-color: 
  $primary-text-color,
  $secondary-text-color,
  $tertiary-text-color,
  $quaternary-text-color,
  $success-text-color,
  $warning-text-color,
  $error-text-color;

$link-color: 
  $primary-link-color,
  $secondary-link-color,
  $tertiary-link-color,
  $quaternary-link-color,
  $success-link-color,
  $warning-link-color,
  $error-link-color;

$button-color: 
  $primary-button-color,
  $secondary-button-color,
  $tertiary-button-color,
  $quaternary-button-color,
  $success-button-color,
  $warning-button-color,
  $error-button-color;

$button-text-color: 
  $primary-button-text-color,
  $secondary-button-text-color,
  $tertiary-button-text-color,
  $quaternary-button-text-color,
  $success-button-text-color,
  $warning-button-text-color,
  $error-button-text-color;

// Create a theme for each category
@for $i from 1 through length($theme-names) {
    
  .theme--#{nth($theme-names, $i)} {
    
    @extend %border;  
    color: nth($text-color, $i);
    background-color: nth($bg-color, $i); 
    border-color:nth($border-color, $i); 

    a {
      color: nth($link-color, $i);
      &:hover {
        color: darken(nth($link-color, $i), 10%);
      }
    }
    
    //.pointerEvents & a:hover {
    //  border-bottom-color:nth($link-color, $i);
    //  color:darken(nth($link-color, $i), 5%);
    //}
    
    .btn {
      color: nth($button-text-color, $i);
      background-color:nth($button-color, $i);
      border-color:nth($button-color, $i);
      &:hover {
        background-color:darken(nth($button-color, $i), 5%);
        border-color:darken(nth($button-color, $i), 5%);
      }
    }

  }
}
