body {
  font-family: $sans-serif-stack;
}
/* custom font set up for this project as it needs to import too screen smart and non screen smart */

.blockquote {
  @extend .font-primary--light-italic;
}

h1, 
.intro {
  @extend .font-primary--light;
}

h2 {
  @extend .font-secondary;
}

h3, 
h4 {
  @extend .font-primary--bold;
}


p.intro {
  line-height:$line-height-s;
}

.secondary-footer {
  .small {
    line-height:1.3;
  }
}
/*
* Text heirarchy
* --------------------------------------------
*/

.tiny + h3 {
   margin-top:12px;
}

@include media(xsmall){
  h1, 
  .h1 {
    font-size: 36px; 
  }
  
  p.intro {
    font-family:$font-primary;
    font-size: px-to-em($font-size-xs);
    line-height:$line-height-xs;
  }
  
}