{% import "macros.twig" as macros %}

{% if data.themeClass %}
	<div class='theme--{{data.themeClass}}'>
	{% endif %}	
	<div class='grid__item {{data.colSize | default("col")}}'>
	    
	    <div class='block-{{data.blockSize | default("m")}} block--stacked  {% if data.textCenter %}text-center {% endif %}'>
	        {{ macros.blocks(data.content) }}
	    </div><!--block ends-->

	</div>

{% if data.themeClass %}
	</div>
{% endif %}