{% import "macros.twig" as macros %}

	<div class='grid__item {{data.colSize}} gallery--item'>
	    <div class='block-{{data.blockSize}} block--stacked {{data.isStacked}}'>         
	        {{ macros.blocks(data.galleryData) }}
	    </div><!--block ends-->
	</div><!--grid item ends-->
  
